*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.row1 {
    height: 50px;
    color: white;
    background-color: skyblue;
}
.row2 {
    height: 100px;
    color: white;
    background-color: skyblue;
}
.header {
    background-color: skyblue;
}
.col-md-2 {
    position: relative;
    width: 100%;
    top: 14%;
    padding-left: 0;
    padding-right: 0;
}
h1{
    margin-left: 7px;
    font-size: 40px;
    color: white;
    margin-top: 7px;
}
#i01{
    text-align: center;
    font-size: 50px;
    margin-left: 10px;
    color: white;
    border: 1px solid black; 
    width: 70px; 
    height: 70px;
    background-color: lightcoral;
    padding: 10px;
}
.a01:visited {
    background-color: rgb(104, 177, 104);
    /* color: white; */
}
#i02 {
    font-size: 35px;
    margin-top: 15px;
    margin-left: 40%;
    color: white;
}
.list-group-item {
    background-color: rgb(104, 177, 104);
    height: 116px;
    font-size: 23px;
    color: white;
}
.a01:hover {
    background-color: rgb(104, 177, 104);
    color: white;
}
.col-md-10 {
    background-color: lightgrey;
    color: black;
    position: relative;
    top: 14%;
}
h2 {
    font-size: 30px;
}
span {
    font-size: 30px;
}
#address {
    width: 100%;
}
#lbl1 {
    font-size: 30px;
}
#submit {
    width: 35%;
    font-size: 25px;
    margin-left: 30%;
}