* {
    padding: 0;
    margin: 0;
}
h2 {
    text-align: center;
    font-size: 30px;
    margin-top: 10px;
}
 .container {
    margin-top: -46.3%;
    /* background-color: rgba(0,0,0,0.6); */
} 
button {
    background-color: green;
    width: 40%;
    padding: 10px 25px;
    height: 35px;
    margin-top: 5px;
    display: inline-block;
    border-radius: 10px;
    margin-left: 30%;
     margin-bottom: 10px; 
    outline: none;
    border: 1px solid green;
    font-weight: bold;
}
.form-group {
    width: 60%;
    margin-left: 40%;
} 
.form1 {
    margin-left: 10%;
}
span{
    color : red;
}
