body {
    background-image: url("image-1.jpg");
}
* {
    padding: 0;
    margin: 0;
}
label {
    color: white;
}
h2 {
    font-size: 25px;
    text-align: center;
    margin-top: 10px;
    color: white;
}
.form-control {
    font-size: 10px;
}
::placeholder {
    font-size: 20px;
}
.form-group {
    margin: 10px;
}
#image {
    padding: 5px;
    border: 1px solid black;
}
#submit {
    margin-left: 35%;
}
form {
    line-height: 9px;
    margin-top: 20px;
    background-color: black;
    border-radius: 10px;
    opacity: 0.7;
}